{include file="template/header" /}

		<div class="page_banner">
			<img class="img1" src="__UMENTER__/img/banner1.jpg" />
			<img class="img2" src="__UMENTER__/img/p-banner2.jpg" />
		</div>
		
		<div class="introduce">
			<div class="w">
				<div class="title1">
					<h2>业务介绍</h2>
				</div>
				<div class="intro_main">
					<img src="__UMENTER__/img/back3.png" />
					<div class="intro_box intro_box1">
						<h3>适合人群</h3>
						<div class="intro_des">
							<p>已有清晰择校目标和明确的专业选择<br>
							已有文书初稿，但对文书不甚满意<br>
							尚未构思文书，需要对进行文书策划<br>
							无时间经历仔细打磨申请文书
							</p>
						</div>
					</div>
					<div class="intro_box intro_box2">
						<h3>资深导师团队</h3>
						<div class="intro_des">
							<p>从业经验5年以上导师亲自执笔<br>
							个性化案例分析<br>
							头脑风暴，集思广益<br>
							一对一实时沟通，透明直接
							</p>
						</div>
					</div>
					<div class="intro_box intro_box3">
						<h3>外籍导师润色修改</h3>
						<div class="intro_des">
							<p>来自世界top30等名校背景<br>
							逐字逐句推敲修改润色<br>
							语言修辞更本地化<br>
							符合西方逻辑方式
							</p>
						</div>
					</div>
					<div class="intro_box intro_box4">
						<h3>招生官指点把关</h3>
						<div class="intro_des">
							<p>链接国际留学信息与资源<br>
							留学文书指点迷津<br>
							给与留学服务体系搭建指导<br>
							链接国际留学信息与资源
							</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		
		<div class="document w">
			<div class="docu_list">
				<ul>
					<li class="on">单篇文书服务</li>
					<li>全套文书服务</li>
				</ul>
			</div>
			<div class="docu_main">
				<div class="docu_box" style="display: block;">
					<div class="docu_t">
						<h3>单项文书服务（PS/SOP、RL、CV、Essay）</h3>
						<p>指定导师需接受30%溢价</p>
					</div>
					<div class="docu_c">
						<table>
							<tr>
								<td></td>
								<td>语言润色</td>
								<td>深度修改</td>
								<td>多对一定制</td>
							</tr>
							<tr>
								<td>适用范围</td>
								<td>已有文书初稿</td>
								<td>有初稿</td>
								<td>无初稿</td>
							</tr>
							<tr>
								<td>服务内容</td>
								<td>文书语言拼写、语法润色修正</td>
								<td>文书语言拼写、语法润色修正；<br>
文章结构优化；逻辑顺序调整</td>
								<td>从零到一，根据提供资料量身打造</td>
							</tr>
							<tr>
								<td>首稿时间</td>
								<td>提交材料后3天</td>
								<td>提交材料后7天</td>
								<td>提交材料后10天</td>
							</tr>
							<tr>
								<td>服务有效期</td>
								<td>7天</td>
								<td>15天</td>
								<td>15天</td>
							</tr>
							<tr>
								<td>反馈有效时间</td>
								<td>5天（反馈时间为服务结束后的时间）</td>
								<td>5天（反馈时间为服务结束后的时间）</td>
								<td>5天（反馈时间为服务结束后的时间）</td>
							</tr>
							<tr>
								<td>词数浮动范围</td>
								<td>±5%</td>
								<td>±5%</td>
								<td>±5%</td>
							</tr>
							<tr>
								<td>服务有效期</td>
								<td>300词以内<span>￥298</span>，超过300词部分，<span>￥0.7</span>/词</td>
								<td>300词以内<span>￥498</span>，超过300词部分，<span>￥0.9</span>/词</td>
								<td>300词以内<span>￥698</span>，超过300词部分，<span>￥1.2</span>/词</td>
							</tr>
							<tr>
								<td>加急及费用</td>
								<td>
									<p>加急<span>￥298</span>/天<br>
（可以点击“+”购买加急天数，数值范围0-4）</p>
									<div class="num">									
										<span class="jian">-</span>
										<input type="text" value="0"/>
										<span class="jia">+</span>
									</div>
								</td>
								<td>
									<p>加急<span>￥298</span>/天<br>
（可以点击“+”购买加急天数，数值范围0-10）</p>
									<div class="num">
										<span class="jian">-</span>
										<input type="text" value="0"/>										
										<span class="jia">+</span>
									</div>
								</td>
								<td>
									<p>加急<span>￥298</span>/天<br>
（可以点击“+”购买加急天数，数值范围0-10）</p>
									<div class="num">
										<span class="jian">-</span>
										<input type="text" value="0"/>										
										<span class="jia">+</span>
									</div>
								</td>
							</tr>
							<tr>
								<td>价格显示</td>
								<td>￥<input type="text"/></td>
								<td>￥<input type="text"/></td>
								<td>￥<input type="text"/></td>
							</tr>
							<tr>
								<td></td>
								<td><a href="#">立即购买</a></td>
								<td><a href="#">立即购买</a></td>
								<td><a href="#">立即购买</a></td>
							</tr>
						</table>
					</div>
					<div class="docu_b">
						<div class="how">
							<input type="text" />
							<span>词</span>
						</div>
						<p>输入原稿次数查看对应单项服务价格</p>
					</div>					
				</div>
				<div class="docu_box">
					<div class="docu_t">
						<h3>全套文书服务</h3>
					</div>
					<div class="docu_c">
						<table>
							<tr>
								<td></td>
								<td>语言润色</td>
								<td>深度修改</td>
								<td>多对一定制</td>
							</tr>
							<tr>
								<td>适用范围</td>
								<td>已有文书初稿</td>
								<td>有初稿</td>
								<td>无初稿</td>
							</tr>
							<tr>
								<td>服务内容</td>
								<td>文书语言拼写、语法润色修正</td>
								<td>文书语言拼写、语法润色修正；<br>
文章结构优化；逻辑顺序调整</td>
								<td>从零到一，根据提供资料量身打造<br>
独一无二的留学文书</td>
							</tr>
							<tr>
								<td>套餐内容</td>
								<td>
									<p>1PS（700-1000词） +2RL或3RL<br>
（加起来不超过1200词） +1CV（1-2页）</p>
									<p>1个项目： <span>￥2738</span><br>
3个项目： <span>￥3680</span><br>
5个项目： <span>￥4476</span><br>
额外增加1个项目：<span>￥700</span>/个</p>
								</td>
								<td>
									<p>1PS（700-1000词） +2RL或3RL<br>
（加起来不超过1200词） +1CV（1-2页）</p>
									<p>1个项目： <span>￥4200</span><br>
3个项目： <span>￥6100</span><br>
5个项目： <span>￥7300</span><br>
额外增加1个项目：<span>￥1000</span>/个</p>
								</td>
								<td>
									<p>1PS（700-1000词） +2RL或3RL<br>
（加起来不超过1200词） +1CV（1-2页）</p>
									<p>1个项目： <span>￥6300</span><br>
3个项目： <span>￥9150</span><br>
5个项目： <span>￥10950</span><br>
额外增加1个项目：<span>￥1500</span>/个</p>
								</td>
							</tr>
							<tr>
								<td>首稿时间</td>
								<td>提交材料后11天</td>
								<td>提交材料后13天</td>
								<td>提交材料后15天</td>
							</tr>
							<tr>
								<td>服务有效期</td>
								<td>30天</td>
								<td>30天</td>
								<td>30天</td>
							</tr>
							<tr>
								<td>反馈有效时间</td>
								<td>5天</td>
								<td>5天</td>
								<td>5天</td>
							</tr>
							<tr>
								<td>反馈有效时间</td>
								<td>
									<div class="effect">
										<input type="radio" name="aa" />
										1个项目： <span>￥2738</span>
									</div>
									<div class="effect">
										<input type="radio" name="aa" />
										3个项目： <span>￥3680</span>
									</div>
									<div class="effect">
										<input type="radio" name="aa" />
										5个项目： <span>￥4476</span>
									</div>
								</td>
								<td>
									<div class="effect">
										<input type="radio" name="bb" />
										1个项目： <span>￥2738</span>
									</div>
									<div class="effect">
										<input type="radio" name="bb" />
										3个项目： <span>￥3680</span>
									</div>
									<div class="effect">
										<input type="radio" name="bb" />
										5个项目： <span>￥4476</span>
									</div>
								</td>
								<td>
									<div class="effect">
										<input type="radio" name="cc" />
										1个项目： <span>￥2738</span>
									</div>
									<div class="effect">
										<input type="radio" name="cc" />
										3个项目： <span>￥3680</span>
									</div>
									<div class="effect">
										<input type="radio" name="cc" />
										5个项目： <span>￥4476</span>
									</div>
								</td>
							</tr>
							<tr>
								<td>增加项目</td>
								<td>
									<p>0-5，点击“+”（价格单位700）</p>
									<div class="num">									
										<span class="jian">-</span>
										<input type="text" value="0"/>
										<span class="jia">+</span>
									</div>
								</td>
								<td>
									<p>0-5，点击“+”（价格单位1000）</p>
									<div class="num">									
										<span class="jian">-</span>
										<input type="text" value="0"/>
										<span class="jia">+</span>
									</div>
								</td>
								<td>
									<p>0-5，点击“+”（价格单位1500）</p>
									<div class="num">									
										<span class="jian">-</span>
										<input type="text" value="0"/>
										<span class="jia">+</span>
									</div>
								</td>
							</tr>
							<tr>
								<td>加急及费用</td>
								<td>
									<p>加急<span>￥298</span>/天<br>
（可以点击“+”购买加急天数，数值范围0-4）</p>
									<div class="num">									
										<span class="jian">-</span>
										<input type="text" value="0"/>
										<span class="jia">+</span>
									</div>
								</td>
								<td>
									<p>加急<span>￥298</span>/天<br>
（可以点击“+”购买加急天数，数值范围0-10）</p>
									<div class="num">
										<span class="jian">-</span>
										<input type="text" value="0"/>										
										<span class="jia">+</span>
									</div>
								</td>
								<td>
									<p>加急<span>￥298</span>/天<br>
（可以点击“+”购买加急天数，数值范围0-10）</p>
									<div class="num">
										<span class="jian">-</span>
										<input type="text" value="0"/>										
										<span class="jia">+</span>
									</div>
								</td>
							</tr>
							<tr>
								<td>备注</td>
								<td>
									<p>1.每额外增加一个项目，增加10天服务时间；<br>
									2.因为CV和RL一般可以共用，因此额外增加一个项目是额外增加一个PS</p>
								</td>
								<td>
									<p>1.每额外增加一个项目，增加10天服务时间；<br>
										2.因为CV和RL一般可以共用，因此额外增加一个项目是额外增加一个PS</p>
								</td>
								<td>
									<p>1.每额外增加一个项目，增加10天服务时间；<br>
									2.因为CV和RL一般可以共用，因此额外增加一个项目是额外增加一个PS</p>
								</td>
							</tr>
							<tr>
								<td>价格显示</td>
								<td>￥<input type="text"/></td>
								<td>￥<input type="text"/></td>
								<td>￥<input type="text"/></td>
							</tr>
							<tr>
								<td></td>
								<td><a href="#">立即购买</a></td>
								<td><a href="#">立即购买</a></td>
								<td><a href="#">立即购买</a></td>
							</tr>
						</table>
					</div>
									
				</div>
			</div>
		</div>
		
		<div class="docu_banner">
			<div class="w">
				<p>导师团队为海外名校或 500 强企业的亲历者，具备强大的海外工作背景和丰富的留学经验。根据意向专业、地区、学校等精准匹配导师。<br>
“4+1”服务维度，配备咨询顾问、执笔导师及班主任和招生官，全面挖掘学生潜力和亮点，打动梦校 Admission Office。</p>
			</div>
		</div>
		
		
		<div class="choose w">
			<div class="title1">
				<h2>按需选择，更懂留学</h2>
			</div>
			<div class="choose_main">
				<div class="choose_l">
					<div class="choose_btn choose_btn1 on">
						<p>挖掘个人特质<br>和学术潜力</p>
					</div>
					<div class="choose_btn choose_btn2">
						<p>表达准确精悍</p>
					</div>
					<div class="choose_btn choose_btn3">
						<P>要点逻辑条理</P>
					</div>
					<div class="choose_btn choose_btn4">
						<p>本土化语言</p>
					</div>
				</div>
				<div class="choose_r">
					<div class="choose_box" style="display: block;">
						<p>名校招生官想要看的是一个具备个人特质，且有一定学术潜力和职业潜力的申请者，而不是脸谱化的中国学生。导师和申请人对所要申请的学校和专业有深入、细致的了解。紧扣学校和专业的要求及特点，突出自己的申请优势。</p>
						<img src="__UMENTER__/img/choose.jpg" />
					</div>
					<div class="choose_box">
						<p>表达准确精悍</p>
						<img src="__UMENTER__/img/choose.jpg" />
					</div>
					<div class="choose_box">
						<p>要点逻辑条理</p>
						<img src="__UMENTER__/img/choose.jpg" />
					</div>
					<div class="choose_box">
						<p>本土化语言</p>
						<img src="__UMENTER__/img/choose.jpg" />
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="start">
			<div class="w">
				<h2>全球优质资源&层层质量把关，尽可能助你起步更高</h2>
				<div class="start_main">
					<div class="row">
						<div class="col-md-6 start_l">
							<h3>让你的作品更本土，更精致，力争脱颖而<br>出外籍导师润色修改</h3>
							<ul>
								<li>
									<div class="st_num">01</div>
									<div class="s_des">
										<p>为做到本地化，符合 native 表达与逻辑思维模式。uMentor 贴心聘请专职外籍名校导师逐字逐句润色修改。</p>
									</div>
								</li>
								<li>
									<div class="st_num">02</div>
									<div class="s_des">
										<p>外籍导师均来自于世界 top30 名校。</p>
									</div>
								</li>
								<li>
									<div class="st_num">03</div>
									<div class="s_des">
										<p>英美澳国家土著学霸，深谙英美文化</p>
									</div>
								</li>
								<li>
									<div class="st_num">04</div>
									<div class="s_des">
										<p>uMentor 规范了文书制作的 13 步润色和修改流程，逐字逐句打磨一份适合自己的完美文书</p>
									</div>
								</li>
								<li>
									<div class="st_num">05</div>
									<div class="s_des">
										<p>每位外籍导师成员都有 5000+ 小时以上的服务经验 （这个地方突出数字表达）</p>
									</div>
								</li>
								<li>
									<div class="st_num">06</div>
									<div class="s_des">
										<p>uMentor 与外籍导师保持紧密联系，最快可以提供 24-48 小时的快速申请服务，您的文书将被 1-2 位独立的资深导师审核编辑</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-md-6 start_l start_r">
							<h3>招生官指导把关<br>
uMentor 为保持高质量名校申请率</h3>
							<div class="s_des1">
								<p>邀请 9 名高校在任及曾任招生官，给予<br>留学服务体系的搭建指导。</p>
							</div>
							<ul>
								<li>
									<div class="st_num">01</div>
									<div class="s_des">
										<p>为做到本地化，符合 native 表达与逻辑思维模式。uMentor 贴心聘请专职外籍名校导师逐字逐句润色修改。</p>
									</div>
								</li>
								<li>
									<div class="st_num">02</div>
									<div class="s_des">
										<p>为名校录取 offer 提供数据，资讯。</p>
									</div>
								</li>
								<li>
									<div class="st_num">03</div>
									<div class="s_des">
										<p>链接国际留学最前沿的信息与资源</p>
									</div>
								</li>
								<li>
									<div class="st_num">04</div>
									<div class="s_des">
										<p>名校前招生官亲自选校，提高申请成功概率。</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

{include file="template/footer" /}
		
		
		
		
		<script src="__UMENTER__/js/hammer.min.js"></script>
		<script src="__UMENTER__/js/common.js"></script>
		<script>
		    var swiper = new Swiper('.swiper-container', {
		      spaceBetween: 30,
		      centeredSlides: true,
		      autoplay: {
		        delay: 3500,
		        disableOnInteraction: false,
		      },
		      pagination: {
		        el: '.swiper-pagination',
		        clickable: true,
		      },
		      navigation: {
		        nextEl: '.swiper-button-next',
		        prevEl: '.swiper-button-prev',
		      },
		      loop:true,
		    });
		</script>
	</body>
</html>
