<div class="row">
    <div class="col-md-12">
        <div class="box">
            {include file="template/data_header" /}
            <div class="box-body table-responsive">
                <table class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>
                            <input id="data-checkall" type="checkbox" onclick="check_all(this)" class="checkbox" placeholder="全选/取消">
                        </th>
                        <th>ID</th>
                        <th>导师头像</th>
                        <th>导师名称</th>
                        <th>服务学校</th>
                        <th>服务区域</th>
                        <th>服务专业</th>
                        <th>负责顾问学位</th>
                        <th>负责申请学位</th>
                        <th>教育经历</th>
                        <th>学生评价</th>
                        <th style="text-align: center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="list" item="item"}
                    <tr>
                        <td>
                            <input type="checkbox" onclick="check_this(this)" name="data-checkbox"
                                   data-id="{$item.id}" class="checkbox data-list-check" value="{$item.id}"
                                   placeholder="选择/取消">
                        </td>
                        <td>{$item.id}</td>
                        <td><img src="{$item.headimg}" style="max-height: 45px;max-width: 45px;"></td>
                        <td>{$item.teachername}</td>
                        <td>{$item.school.name}</td>
                        <td>{$item.area.name}</td>
                        <td>{$item.major.name}</td>
                        <td>{$item.cou.name}</td>
                        <td>{$item.app.name}</td>
                        <td class="td-do">
                            <a href="/admin/education/index.html?id={$item.id}"
                               class="btn btn-primary btn-xs" data-toggle="tooltip" title="点击操作教育经历">
                                <i class="fa fa-reorder"></i>
                            </a>
                        </td>
                        <td class="td-do">
                            <a href="/admin/evaluate/index.html?id={$item.id}"
                               class="btn btn-primary btn-xs" data-toggle="tooltip" title="点击查看学生评价">
                                <i class="fa fa-reorder"></i>
                            </a>
                        </td>

                        <td class="td-do">
                            <a href="edit.html?id={$item.id}"
                               class="btn btn-primary btn-xs" data-toggle="tooltip" title="修改">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger btn-xs AjaxButton" data-toggle="tooltip" title="删除" data-confirm-title="删除提示" data-confirm-content="您确认要删除ID为{$item.id}的导师吗？" data-id="{$item.id}" data-url="del.html">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {include file="template/data_footer" /}
        </div>
