<div class="footer">
			<div class="w">
				<div class="foot_t">
					<div class="row">
						<div class="col-sm-4 foot_l">
							<img src="__UMENTER__/img/logo1.png" />
							<h3>uMentor留学</h3>
							<p>专注于提供靠谱全面的导师资源和更贴心的留学申请体验。我们联合500余位导师服务，以及招生官亲自把关，倾力为您打造一个高品质的留学品牌， <br>
With uMentor, See the Future!</p>
						</div>
						<div class="col-sm-4 foot_c">
							<div class="row">
								<div class="row">
									<div class="col-xs-6">
										<dl>
											<dt>快速通道</dt>
											<dd><a href="/index/document/index.html">单项服务</a></dd>
											<dd><a href="/index/apply/index.html">一站式申请</a></dd>
											<dd><a href="/index/teacher/index.html">导师展示</a></dd>
											<dd><a href="/index/cas/index.html">留学案例</a></dd>
											<dd><a href="/index/news/index.html">留学资讯</a></dd>
											<dd><a href="/index/about/index.html">关于uMentor</a></dd>
										</dl>
									</div>
									<div class="col-xs-6">
										<dt>联系方式</dt>
										<dd>电话：13520123629</dd>
										<dd>微信客服 ：uMentor01</dd>
										<dd>邮箱：info@umentor.cn</dd>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 foot_r">
							<div class="col-xs-6">
								<div class="ewm">
									<img src="__UMENTER__/img/ewm1.jpg" />
									<p>关注微信公众号</p>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="ewm">
									<img src="__UMENTER__/img/ewm2.jpg" />
									<p>微博搜索uMentor</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="foot_b">
					<ul>
						<li><a href="#"><img src="__UMENTER__/img/xtb1.png"/></a></li>
						<li><a href="#"><img src="__UMENTER__/img/xtb2.png"/></a></li>
						<li><a href="#"><img src="__UMENTER__/img/xtb3.png"/></a></li>
						<li><a href="#"><img src="__UMENTER__/img/xtb4.png"/></a></li>
					</ul>
					<div class="foot_b_des">
						<p>备案/许可证编号：鲁ICP备17055030号</p>
					</div>
				</div>
				
				
			</div>
		</div>