<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>西柚教育</title>
		<link rel="stylesheet" href="__UMENTER__/fonts/iconfont.css" />
		<link rel="stylesheet" href="__UMENTER__/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__UMENTER__/css/conponent.css" />
		<link rel="stylesheet" href="__UMENTER__/css/swiper.min.css" />
		<link rel="stylesheet" href="__UMENTER__/css/slick.css" />
		<link rel="stylesheet" href="__UMENTER__/css/common.css" />
		<link rel="stylesheet" href="__UMENTER__/css/style.css" />
		<link rel="stylesheet" href="__UMENTER__/css/media.css" />
		<script src="__UMENTER__/js/jquery-3.3.1.min.js"></script>
		<script src="__UMENTER__/js/bootstrap.min.js"></script>		
		<script src="__UMENTER__/js/modernizr.custom.js"></script>
		<script src="__UMENTER__/js/jquery.dlmenu.js"></script>
		<script src="__UMENTER__/js/swiper.min.js"></script>
		
	</head>
	<body>
		<div class="header">
			<div class="w clearfloat">
				<div class="header_l">
					<a href="/index/index/index.html"><img src="__UMENTER__/img/logo.png"/></a>
				</div>
				<div class="nav">
					<ul class="clearfloat">
						<li>
							<a href="###">单项服务</a>
							<div class="nav_box">
								<div class="w">
									<ul>
										<li>
											<a href="/index/document/index.html">
												<div class="nav_pic">
													<img src="__UMENTER__/img/ntb1.png" />
												</div>										
												<div class="nav_des">
													<p>留学文书</p>
													<p>量身定做专属文书</p>
												</div>										
											</a>
										</li>
										<li>
											<a href="/index/translate/index.html">
												<div class="nav_pic">
													<img src="__UMENTER__/img/ntb2.png" />
												</div>										
												<div class="nav_des">
													<p>翻译服务</p>
													<p>本土地道英文表达</p>
												</div>										
											</a>
										</li>
										<li>
											<a href="/index/promote/index.html">
												<div class="nav_pic">
													<img src="__UMENTER__/img/ntb3.png" />
												</div>										
												<div class="nav_des">
													<p>背景提升</p>
													<p>多维度帮助背景提升</p>
												</div>										
											</a>
										</li>
										<li>
											<a href="/index/consult/index.html">
												<div class="nav_pic">
													<img src="__UMENTER__/img/ntb4.png" />
												</div>										
												<div class="nav_des">
													<p>咨询&面试</p>
													<p>专家指路胜过泡坛无数</p>
												</div>										
											</a>
										</li>
										<li>
											<a href="/index/academic/index.html">
												<div class="nav_pic">
													<img src="__UMENTER__/img/ntb5.png" />
												</div>										
												<div class="nav_des">
													<p>学术文章</p>
													<p>提升专业水平，挖掘学术潜力</p>
												</div>										
											</a>
										</li>
									</ul>
								</div>
							</div>							
						</li>
						<li><a href="/index/apply/index.html">一站式申请</a></li>
						<li><a href="/index/teacher/index.html">导师展示</a></li>
						<li><a href="/index/cas/index.html">留学案例</a></li>
						<li><a href="/index/news/index.html">留学资讯</a></li>
						<li>
							<a href="###">关于uMentor</a>
							<div class="nav_box">
								<div class="w">
									<ul>
										<li>
											<a href="/index/service/index.html">
												<div class="nav_pic">
													<img src="__UMENTER__/img/ntb6.png" />
												</div>										
												<div class="nav_des">
													<p>服务保障</p>
												</div>										
											</a>
										</li>
										<li>
											<a href="/index/about/index.html">
												<div class="nav_pic">
													<img src="__UMENTER__/img/ntb7.png" />
												</div>										
												<div class="nav_des">
													<p>关于uMenter</p>
												</div>										
											</a>
										</li>
										<li>
											<a href="/index/problem/index.html">
												<div class="nav_pic">
													<img src="__UMENTER__/img/ntb8.png" />
												</div>										
												<div class="nav_des">
													<p>常见问题</p>
												</div>										
											</a>
										</li>										
									</ul>
								</div>
							</div>	
						</li>
					</ul>
				</div>
				<div class="head_right">
					<a class="delu" href="#">登录</a>
					<a href="#">个人中心</a>
					<span>|</span>
					<a href="#">购物车</a>
				</div>
			</div>
		</div>
		<div class="phone_nav">
			<img class="phone-btn" src="__UMENTER__/img/menu-button-bg.png" />
			<div class="logo"><a href="index.html"><img src="__UMENTER__/img/logo.png"/></a></div>
			<div class="phone_nav_r">
				<a href="#"><i class="iconfont icon-gerenzhongxin-xuanzhongxin"></i></a>
				<a href="#"><i class="iconfont icon-gouwuche1-copy"></i></a>
			</div>
			<div class="phone_menu">
				<p class="phone_close">X</p>
				<div class="logo"><a href="index.html"><img src="__UMENTER__/img/logo.png"/></a></div>
				<div class="menu_list">
					<ul id="accordion" class="accordion">
						<li>
							<div class="link"><a href="index.html">首页</a></div>
						</li>
						<li>
							<div class="link">单项服务<i class="fa fa-chevron-down"><img src="__UMENTER__/img/arrow5.png"/></i></div>
							<ul class="submenu">
								<li><a href="document.html">留学文书</a></li>
								<li><a href="translate.html">翻译服务</a></li>
								<li><a href="promote.html">背景提升</a></li>
								<li><a href="consult.html">咨询&面试</a></li>
								<li><a href="academic.html">学术文章</a></li>
							</ul>
						</li>
						<li>
							<div class="link"><a href="apply.html">一站式申请</a></div>
						</li>
						<li>
							<div class="link"><a href="guide.html">导师展示</a></div>
						</li>
						<li>
							<div class="link"><a href="case.html">留学案例</a></div>
						</li>
						<li>
							<div class="link"><a href="news.html">留学资讯</a></div>
						</li>
						<li>
							<div class="link">关于uMentor<i class="fa fa-chevron-down"><img src="__UMENTER__/img/arrow5.png"/></i></div>
							<ul class="submenu">
								<li><a href="service.html">服务保障</a></li>
								<li><a href="about.html">关于uMenter</a></li>
								<li><a href="problem.html">常见问题</a></li>
							</ul>
						</li>						
					</ul>
				</div>
			</div>
		</div>