{include file="template/header" /}
		<div class="banner">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			  </ol>
			
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
				{foreach $list as $item}
			    <div class="item active">
			      <img class="img1" src="{$item.pc_image}">
			      <img class="img2" src="{$item.phone_image}">
			    </div>
			   {/foreach}

			  {foreach $list1 as $item1}
			  <div class="item">
				  <img class="img1" src="{$item1.pc_image}">
				  <img class="img2" src="{$item1.phone_image}">
			  </div>
			  {/foreach}
			  </div>
			</div>
		</div>
		
		<div class="dream w">
			<div class="title">
				<h2>名校导师  助你圆梦</h2>
			</div>
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			      <div class="swiper-slide">
			      	<div class="dream_box">
			      		<div class="row">
			      			<div class="col-sm-6 dream_pic">
			      				<img src="__UMENTER__/img/i1.png" />
			      			</div>
			      			<div class="col-sm-6 dream_des">
			      				<h3>Jessica学姐<span>北京外国语大学教育学/英语双学士</span></h3>
			      				<div class="dream_des_t">
			      					<img src="__UMENTER__/img/y1.png" />
			      					<p>北京外国语大学教育学/英语双学士，连续四年奖学金的获得者，GPA 3.9的优秀毕业生。本科期间展开针对工程教育的研究并发表学术论文。因游学多国对国际教......</p>
			      					<img style="float:right" src="__UMENTER__/img/y2.png" />
			      				</div>
			      				<div class="dream_tag">
			      					<p>全套文书    |     全套文书      |     全套文书     </p>
			      				</div>
			      				<a href="/index/teacher/index">查看更多</a>
			      			</div>
			      		</div>
			      	</div>
			      </div>
			      <div class="swiper-slide">
			      	<div class="dream_box">
			      		<div class="row">
			      			<div class="col-sm-6 dream_pic">
			      				<img src="__UMENTER__/img/i1.png" />
			      			</div>
			      			<div class="col-sm-6 dream_des">
			      				<h3>Jessica学姐<span>北京外国语大学教育学/英语双学士</span></h3>
			      				<div class="dream_des_t">
			      					<img src="__UMENTER__/img/y1.png" />
			      					<p>北京外国语大学教育学/英语双学士，连续四年奖学金的获得者，GPA 3.9的优秀毕业生。本科期间展开针对工程教育的研究并发表学术论文。因游学多国对国际教......</p>
			      					<img style="float:right" src="__UMENTER__/img/y2.png" />
			      				</div>
			      				<div class="dream_tag">
			      					<p>全套文书    |     全套文书      |     全套文书     </p>
			      				</div>
			      				<a href="/index/teacher/index">查看更多</a>
			      			</div>
			      		</div>
			      	</div>
			      </div>
			      <div class="swiper-slide">
			      	<div class="dream_box">
			      		<div class="row">
			      			<div class="col-sm-6 dream_pic">
			      				<img src="__UMENTER__/img/i1.png" />
			      			</div>
			      			<div class="col-sm-6 dream_des">
			      				<h3>Jessica学姐<span>北京外国语大学教育学/英语双学士</span></h3>
			      				<div class="dream_des_t">
			      					<img src="__UMENTER__/img/y1.png" />
			      					<p>北京外国语大学教育学/英语双学士，连续四年奖学金的获得者，GPA 3.9的优秀毕业生。本科期间展开针对工程教育的研究并发表学术论文。因游学多国对国际教......</p>
			      					<img style="float:right" src="__UMENTER__/img/y2.png" />
			      				</div>
			      				<div class="dream_tag">
			      					<p>全套文书    |     全套文书      |     全套文书     </p>
			      				</div>
			      				<a href="/index/teacher/index">查看更多</a>
			      			</div>
			      		</div>
			      	</div>
			      </div>
			      <div class="swiper-slide">
			      	<div class="dream_box">
			      		<div class="row">
			      			<div class="col-sm-6 dream_pic">
			      				<img src="__UMENTER__/img/i1.png" />
			      			</div>
			      			<div class="col-sm-6 dream_des">
			      				<h3>Jessica学姐<span>北京外国语大学教育学/英语双学士</span></h3>
			      				<div class="dream_des_t">
			      					<img src="__UMENTER__/img/y1.png" />
			      					<p>北京外国语大学教育学/英语双学士，连续四年奖学金的获得者，GPA 3.9的优秀毕业生。本科期间展开针对工程教育的研究并发表学术论文。因游学多国对国际教......</p>
			      					<img style="float:right" src="__UMENTER__/img/y2.png" />
			      				</div>
			      				<div class="dream_tag">
			      					<p>全套文书    |     全套文书      |     全套文书     </p>
			      				</div>
			      				<a href="/index/teacher/index">查看更多</a>
			      			</div>
			      		</div>
			      	</div>
			      </div>
			    </div>
			    <!-- Add Arrows -->
			    <div class="swiper-button-next"></div>
			    <div class="swiper-button-prev"></div>
			</div>
		</div>
		
		<div class="service">
			<div class="row">
				<div class="col-sm-7 ser_r right">
					<img src="__UMENTER__/img/i2.png" />
				</div>
				<div class="col-sm-5 ser_l left">
					<div class="ser_title">
						<h3>一站式申请服务</h3>
						<span>One-stop application service</span>						
					</div>
					<p>根据您的情况制定最适合您的整套申请方案，并完成申请过程中的全部事宜，助您成功拿到Dream School的offer</p>
					<a href="/index/apply/index.html">READ more>></a>
					
				</div>
				
			</div>
		</div>
		
		<div class="single">
			<div class="title">
				<h2>单项服务</h2>
				<p>半DIY首选同专业顶尖申请导师精心修改打造一份惊艳并适合自己的文书</p>
			</div>
			<div class="single_box">
				<ul class="clearfloat">
					<li>
						<h3>留学文书</h3>
						<div class="single_pic">
							<img src="__UMENTER__/img/tb1.png" />
						</div>
						<div class="single_des">
							<p>无论你有没有初稿，文书导师将为你量身打造适合你的专属文书</p>
						</div>
						<a href="/index/document/index.html">了解更多</a>
					</li>
					<li>
						<h3>咨询面试</h3>
						<div class="single_pic">
							<img src="__UMENTER__/img/tb2.png" />
						</div>
						<div class="single_des">
							<p>面试模拟实战演练，全面提升面试水平和技巧</p>
						</div>
						<a href="/index/consult/index.html">了解更多</a>
					</li>
					<li>
						<h3>学术文章</h3>
						<div class="single_pic">
							<img src="__UMENTER__/img/tb3.png" />
						</div>
						<div class="single_des">
							<p>文章润色，包括但不限于书写格式、语法、语言逻辑的修改，让 Essay 更能展示学术能力</p>
						</div>
						<a href="/index/academic/index">了解更多</a>
					</li>
					<li>
						<h3>背景提升</h3>
						<div class="single_pic">
							<img src="__UMENTER__/img/tb4.png" />
						</div>
						<div class="single_des">
							<p>科研经历 or 实习经验还是社团活动？总有一个闪光点适合你</p>
						</div>
						<a href="/index/promote/index.html">了解更多</a>
					</li>
					<li>
						<h3>翻译服务</h3>
						<div class="single_pic">
							<img src="__UMENTER__/img/tb5.png" />
						</div>
						<div class="single_des">
							<p>专业的外籍导师团队为您提供地道的、专业的翻译服务</p>
						</div>
						<a href="/index/translate/index.html">了解更多</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="share">
			<div class="w">
				<div class="title">
					<h2>经验分享</h2>
				</div>
				<div class="share_main">
					<div class="row">
						{foreach $experiences as $item}
						<div class="col-md-3 col-sm-4 col-xs-6">
							<div class="share_box">
								<a href="#">
									<div class="share_t">
										<img src="{$item.image}" />
									</div>
									<div class="share_b">
										<div class="share_tb">
											<img src="{$item.photo}" />
											<span>{$item.name}</span>
											<span class="s-time" style="float:right;">{$item.create_time|strip_tags|mb_substr=0,10,'utf-8'}</span>
										</div>
										<div class="share_des">
											<h3>{$item.title}</h3>
											<p>{$item.content|htmlspecialchars_decode|strip_tags|mb_substr=0,50,'utf-8'}</p>
										</div>
									</div>
								</a>
							</div>
						</div>
						{/foreach}
					</div>
					
					<a class="more" href="/index/cas/index.html">查看更多</a>
				</div>
			</div>
		</div>
		
		<div class="case">
			<div class="w">
				<div class="title">
					<h2>uMentor留学案例</h2>
				</div>
				<div class="case_main">
					 
					<div class="slider autoplay">
						{foreach $cases as $case}
						<div>
							<div class="case_box">
		      					<div class="case_t">
		      						<img src="__UMENTER__/img/c_title.png" />
		      					</div>
		      					<div class="case_m">
		      						<img src="{$case.offer}" />
		      					</div>
		      					<div class="case_title">
		      						<p>{$case.name}</p>
		      						<p>{$case.school.name}录取通知书</p>
		      					</div>
		      					<div class="case_mask">
		      						<h3>{$case.name}，{$case.year}</h3>
									<p>录取院校：{$case.school.name}，{$case.major.name}<br>
使用服务：{$case.service1}+{$case.service2}<br>
学校：{$case.school2}，{$case.major2}<br>
GPA{$case.gpa} 托福{$case.toefl}，GRE{$case.gre}</p>
		      					</div>
		      				</div>
						</div>
						{/foreach}
					</div>
				
				
				
				
				</div>
				<div class="case_main case_phone">
					 <div class="swiper-container">
					    <div class="swiper-wrapper">\
							{foreach $cases as $case }
					      <div class="swiper-slide">
					      	<div class="case_box">
		      					<div class="case_t">
		      						<img src="__UMENTER__/img/c_title.png" />
		      					</div>
		      					<div class="case_m">
		      						<img src="{$case.offer}" />
		      					</div>
		      					<div class="case_title">
		      						<p>{$case.name}</p>
		      						<p>{$case.school.name}录取通知书</p>
		      					</div>
		      					<div class="case_mask">
		      						<h3>{$case.name}，{$case.year}</h3>
									<p>录取院校：{$case.school.name}，{$case.major.name}<br>
使用服务：{$case.service1}+{$case.service2}<br>
学校：{$case.school2}，{$case.major2}<br>
GPA{$case.gpa} 托福{$case.toefl}，GRE{$case.gre}</p>
		      					</div>
		      				</div>
					      </div>
							{/foreach}
					    </div>
					    <!-- Add Arrows -->
					    <div class="swiper-button-next"></div>
					    <div class="swiper-button-prev"></div>
					  </div>
				</div>
				<a class="more" href="/index/cas/index.html">查看更多</a>
			</div>
		</div>
		
		<div class="process">
			<div class="title">
				<h2>服务流程</h2>
			</div>
			<div class="process_main">
				<img src="__UMENTER__/img/num.png" />
				<div class="process_content">
					<div class="row">
						<div class="col-md-2 col-sm-4">
							<div class="process_box">
								<p class="p_num">01</p>
								<p>点击右下角的弹窗选择在线咨询客 服, 或者直接添加小U客服微信</p>
								<div class="pro_ewm">
									<img src="__UMENTER__/img/ewm3.jpg" />
									<p>微信客服</p>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4">
							<div class="process_box">
								<p class="p_num p_num1">02</p>
								<p>注册并登录个人中心，下载信息表格，填写个人信息和信息收集表</p>
							</div>
						</div>
						<div class="col-md-2 col-sm-4">
							<div class="process_box">
								<p class="p_num">03</p>
								<p>选择相关服务内容，提交订单并付款，小U后台系统将根据您的申请信息智能匹配最合适的主导师和最专业的申请导师</p>
							</div>
						</div>
						<div class="col-md-2 col-sm-4">
							<div class="process_box">
								<p class="p_num p_num1">04</p>
								<p>服务完成后, 后台系统将文书自动提交给主导师或外籍顾问进行审核修改</p>
							</div>
						</div>
						<div class="col-md-2 col-sm-4">
							<div class="process_box">
								<p class="p_num">05</p>
								<p>主导师或外籍顾问审核通过后，相关文书会直接发送至您的邮箱并微信留言</p>
							</div>
						</div>
						<div class="col-md-2 col-sm-4">
							<div class="process_box">
								<p class="p_num p_num1">06</p>
								<p>您查看文书后，可以提出修改意见，直至满意为止</p>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="abroad">
			<div class="w">
				<div class="title">
					<h2>留学资讯</h2>
				</div>
				<div class="abroad_main">
					<div class="row">
						<div class="col-md-6">
							<ul>
								{foreach $newsa as $new }
								<li><span>{$new.create_time}</span><a href="/index/news/detail.html?id={$new.id}">{$new.title}</a></li>
								{/foreach}
							</ul>
						</div>
						<div class="col-md-6">
							<ul>
								{foreach $newsb as $new }
								<li><span>{$new.create_time}</span><a href="/index/news/detail.html?id={$new.id}">{$new.title}</a></li>
								{/foreach}
							</ul>
						</div>
					</div>
				</div>
				<a class="more" href="/index/news/index.html">查看更多</a>
			</div>
		</div>
		
		<div class="cooperate">
			<div class="w">
				<p class="coop">媒体报道&合作伙伴:</p>
				<div class="coop-r">
					<div class="slider autoplay">
						{foreach $bottomimages as $bottomimage}
						<div>
							<div class="coop-box">
								<a href="{$bottomimage.link}"><img src="{$bottomimage.logo}"/></a>
							</div>
						</div>
						{/foreach}
					</div>
				</div>
			</div>			
		</div>


    {include file="template/footer" /}

		<script src="__UMENTER__/js/hammer.min.js"></script>
		<script src="__UMENTER__/js/common.js"></script>
		<script>
		    var swiper = new Swiper('.swiper-container', {
		      spaceBetween: 30,
		      centeredSlides: true,
		      autoplay: {
		        delay: 3500,
		        disableOnInteraction: false,
		      },
		      pagination: {
		        el: '.swiper-pagination',
		        clickable: true,
		      },
		      navigation: {
		        nextEl: '.swiper-button-next',
		        prevEl: '.swiper-button-prev',
		      },
		      loop:true,
		    });
		</script>
		<script src="__UMENTER__/js/slick.js"></script>
		<script src="__UMENTER__/js/scripts.js"></script>
	</body>
</html>
