{include file="template/header" /}

		<div class="page_banner">
			<img class="img1" src="__UMENTER__/img/banner2.jpg" />
			<img class="img2" src="__UMENTER__/img/p-banner3.jpg" />
		</div>
		
		
		<div class="translate">
			<div class="w">
				<div class="title1">
					<h2>翻译团队</h2>
				</div>
				<div class="trans_main">
					<div class="row">
						<div class="col-md-4">
							<div class="trans_box">
								<div class="trans_pic">
									<img src="__UMENTER__/img/ser1.png" />
								</div>
								<div class="trans_des">
									<h3>资深导师团队</h3>
									<div class="trans_content">
										<p>海外名校背景<br>
丰富的文书写作经验</p>
									</div>									
									<a href="/index/teacher/index.html">查看详情</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="trans_box">
								<div class="trans_pic">
									<img src="__UMENTER__/img/ser2.png" />
								</div>
								<div class="trans_des">
									<h3>外籍导师团队</h3>
									<div class="trans_content">
										<p>top50名校语言学土著学霸<br>
长期文书修改润色经历</p>
									</div>										
									<a href="/index/teacher/index.html">查看详情</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="trans_box">
								<div class="trans_pic">
									<img src="__UMENTER__/img/ser3.png" />
								</div>
								<div class="trans_des">
									<h3>翻译服务</h3>
									<div class="trans_content">
										<p>信 ——   准确无误<br>
达 ——   全面细致<br>
雅 ——   优美流畅</p>
									</div>										
									<a href="/index/translate/index.html">查看详情</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="plan w">
			<div class="title">
				<h2>服务方案</h2>
			</div>
			<div class="plan_main">
				<table>
					<tr>
						<td>服务种类</td>
						<td>服务价格</td>
						<td>选择种类</td>
						<td>专业翻译团队</td>
						<td>外籍润色服务</td>
						<td>标准服务时间</td>
						<td>加急服务时间</td>
						<td></td>
					</tr>
					<tr>
						<td><span class="span1">认证翻译</span></td>
						<td><span>￥50起/件</span></td>
						<td>学位证、毕业证、成绩单、美国驾照、护照、获奖证书翻译、中国驾照</td>
						<td><img src="__UMENTER__/img/arrow2.png"/></td>
						<td>/</td>
						<td>1轮，2-3天</td>
						<td>/</td>
						<td><a href="#">立即购买</a></td>
					</tr>
					<tr>
						<td><span class="span1">精准翻译</span></td>
						<td><span>￥200元/千汉字</span></td>
						<td>提供论文、申请文书、网站双语化等各类翻译服务</td>
						<td><img src="__UMENTER__/img/arrow2.png"/></td>
						<td>/</td>
						<td>1轮，4天</td>
						<td>1轮，4天</td>
						<td><a href="#">立即购买</a></td>
					</tr>
					<tr>
						<td><span class="span1">地道翻译</span></td>
						<td><span>￥500元/千汉字</span></td>
						<td>提供论文、申请文书、网站双语化等各类翻译服务</td>
						<td><img src="__UMENTER__/img/arrow2.png"/></td>
						<td><img src="__UMENTER__/img/arrow2.png"/></td>
						<td>2轮，7天<br>(您的反馈时间将不计算在内)</td>
						<td>2轮，4天<br>(您的反馈时间将不计算在内)</td>
						<td><a href="#">立即购买</a></td>
					</tr>
				</table>
			</div>
			<div class="plan_phone">
				<table>
					<tr>
						<td>服务种类</td>
						<td><span class="span1">认证翻译</span></td>
						<td><span class="span1">精准翻译</span></td>
						<td><span class="span1">地道翻译</span></td>
					</tr>
					<tr>
						<td>服务价格</td>
						<td><span>￥50起/件</span></td>
						<td><span>￥200元/千汉字</span></td>
						<td><span>￥500元/千汉字</span></td>
					</tr>
					<tr>
						<td>选择种类</td>
						<td>学位证、毕业证、成绩单、美国驾照、护照、获奖证书翻译、中国驾照</td>
						<td>提供论文、申请文书、网站双语化等各类翻译服务</td>
						<td>提供论文、申请文书、网站双语化等各类翻译服务</td>
					</tr>
					<tr>
						<td>专业翻译团队</td>
						<td><img src="__UMENTER__/img/arrow2.png"></td>
						<td><img src="__UMENTER__/img/arrow2.png"></td>
						<td><img src="__UMENTER__/img/arrow2.png"></td>
					</tr>
					<tr>
						<td>外籍润色服务</td>
						<td>/</td>
						<td>/</td>
						<td><img src="__UMENTER__/img/arrow2.png"></td>
					</tr>
					<tr>
						<td>标准服务时间</td>
						<td>1轮，2-3天</td>
						<td>1轮，4天</td>
						<td>2轮，7天<br>(您的反馈时间将不计算在内)</td>
					</tr>
					<tr>
						<td>加急服务时间</td>
						<td>/</td>
						<td>1轮，2天</td>
						<td>2轮，4天<br>(您的反馈时间将不计算在内)</td>
					</tr>
					<tr>
						<td></td>
						<td><a href="#">立即购买</a></td>
						<td><a href="#">立即购买</a></td>
						<td><a href="#">立即购买</a></td>
					</tr>
				</table>
			</div>
		</div>
		
		
		<div class="match">
			<div class="w">
				<div class="match_box">
					<h3>TOP50全球导师资源进行匹配</h3>
					<p><a href="/index/teacher/index.html">详情请了解<img src="__UMENTER__/img/arrow.png"/></a></p>
				</div>
				<div class="match_box">
					<h3>全球名校案例</h3>
					<p><a href="/index/news/index.html">详情请了解<img src="__UMENTER__/img/arrow.png"/></a></p>
				</div>
			</div>
		</div>



{include file="template/footer" /}
		
		
		
		
		
		
		
		<script src="__UMENTER__/js/hammer.min.js"></script>
		<script src="__UMENTER__/js/common.js"></script>
		<script>
		    var swiper = new Swiper('.swiper-container', {
		      spaceBetween: 30,
		      centeredSlides: true,
		      autoplay: {
		        delay: 3500,
		        disableOnInteraction: false,
		      },
		      pagination: {
		        el: '.swiper-pagination',
		        clickable: true,
		      },
		      navigation: {
		        nextEl: '.swiper-button-next',
		        prevEl: '.swiper-button-prev',
		      },
		      loop:true,
		    });
		</script>
	</body>
</html>
