{include file="template/header" /}

		<div class="page_banner">
			<img class="img1" src="__UMENTER__/img/banner6.jpg" />
			<img class="img2" src="__UMENTER__/img/p-banner7.jpg" />
		</div>
		
		<div class="character w">
			<div class="title1">
				<h2>uMentor打造个性化留学服务 </h2>
			</div>
			<div class="character_main">
				<table>
					<tr>
						<td>优点对照</td>
						<td>uMentor留学</td>
						<td>传统留学机构</td>
					</tr>
					<tr>
						<td>服务内容</td>
						<td>服务多样，费用透明，涵盖单项文书、全套文书、付费问答一站式申请等，满足各种形式的出国留学需要。</td>
						<td>打包服务，笼统报价，收费体系不透明。</td>
					</tr>
					<tr>
						<td>导师机制</td>
						<td>uMentor 采用朋辈辅导和班主任监督的模式；导师全部具备留学名校履历，并 15 步选拔体系，每一位录用的导师都会经过 uMentor 的再培训，确保其优秀沟通辅导能力；班主任为 uMentor 经验丰富的咨询导师，可以确保服务流程</td>
						<td>咨询师良莠不齐，且离职率高，想找到好的咨询师只能凭运气。机构平台申请辅导过程无严谨的质量监督体系，留学机构仅对个别文书导师进行抽样检查，选拔和监督较为松散。</td>
					</tr>
					<tr>
						<td>专业匹配</td>
						<td>uMentor 采用自主研发的 OA 智能分配系统，按专业和留学经历匹配度，推荐最 优导师 。</td>
						<td>导师数量普遍较少，只涉及部分专业。</td>
					</tr>
					<tr>
						<td>客服团队</td>
						<td>uMentor 所有客服为国内 211/985高校毕业且英文水平过硬。能够为客户提供耐心和专业的解答，并引导名校导师为客户解疑。</td>
						<td>大部分客服或顾问仅对推销高价产品不遗余力，但是却忽略客户的切身需求。</td>
					</tr>
					<tr>
						<td>选校申请</td>
						<td>深挖学员亮点，提升仔细研究院校录取偏好，uMentor 每一份文书都会量身定制，结合学员职业规划、意向学校、语言成绩，制定冲刺、适中及保底院校的综合策略院校申请方案。</td>
						<td>模板化流水线作业，仅采用文书模板撰文，千篇一律。选校时优先申请“合作院校” ，不基于学院实际职业规划和背景，而是为了保证录取和返佣。</td>
					</tr>
					<tr>
						<td>后期收费</td>
						<td>无后期费用，无排名费，无需要交纳奖学金提成</td>
						<td>按照申请学校排名，收取不等金额的费用。学院奖励优秀国际生的奖学金，会收取不等金额等提成（通常大于 10%）。</td>
					</tr>
					<tr>
						<td>录取保证</td>
						<td>承诺无录取根据相关协议全额退款或退款 80%，详情请参考具体的服务说明。</td>
						<td>不退款</td>
					</tr>
					<tr>
						<td>争议仲裁</td>
						<td>完善的售后服务系统，超长的服务周期，可对服务人员全程管控，学员可以通过平台 400 电话或举报邮箱直接投诉，24 小时内将会和学员沟通。</td>
						<td>互相推诿现象严重，平台拒绝退款，无实质的售后服务。</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="apply">
			<div class="w">
				<div class="title">
					<h2>高端一站式留学申请</h2>
					<p>适用范围：已确定留学意向但尚未着手准备的或需要全程指导的同学</p>
				</div>
				<div class="apply_main">
					<img class="apply_img" src="__UMENTER__/img/apply1.png" />
					<div class="apply_box apply_box1">
						<img src="__UMENTER__/img/ap_tb1.png" />
						<h3>多V1导师辅导</h3>
						<p>会为您匹配一位专业导师、一位文书导师、一位外籍导师、一位班主任为您全程辅导</p>
					</div>
					<div class="apply_box apply_box2">
						<img src="__UMENTER__/img/ap_tb2.png" />
						<h3>全程参与</h3>
						<p>让同学参与到服务过程中，从选校到文书再到面试，全程参与有助于发掘和激发学生潜力</p>
					</div>
					<div class="apply_box apply_box3">
						<img src="__UMENTER__/img/ap_tb3.png" />
						<h3>量身打造</h3>
						<p>结合学生自身特征和未来发展方向，量身定制申请学校、专业和留学文书，为留学保驾护航</p>
					</div>
					<div class="apply_box apply_box4">
						<img src="__UMENTER__/img/ap_tb4.png" />
						<h3>全面提升</h3>
						<p>我们不仅帮助提高文书表达、更能助力提升背景等。</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="include">
			<div class="w">
				<div class="title">
					<h2>包含服务</h2>
				</div>
				<div class="include_main">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="include_box">
								<h3>北美申请</h3>
								<p>匹配同领域导师，与辅导员和 Native名校导师帮助学员做好申请工作</p>
								<div class="include_des">
									<p>· 早期规划<br>
· 申请指导<br>
· 面经指导<br>
· 行前准备</p>
									<p><span>申请院校：</span>6所以内</p>									
								</div>
								<p class="in_price">￥29998</p>
								<a href="#">立即购买</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="include_box">
								<h3>欧洲申请</h3>
								<p>匹配同领域导师，与辅导员和 Native名校导师帮助学员做好申请工作</p>
								<div class="include_des">
									<p>· 早期规划<br>
· 申请指导<br>
· 行前准备<br>
· 可选择G5和非G5学校</p>
									<p><span>申请院校：</span>6所以内</p>									
								</div>
								<p class="in_price">￥14998</p>
								<a href="#">立即购买</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="include_box">
								<h3>澳洲申请</h3>
								<p>匹配同领域导师，与辅导员和 Native名校导师帮助学员做好申请工作</p>
								<div class="include_des">
									<p>· 早期规划<br>
· 申请指导<br>
· 视频咨询<br>
· 行前准备<br>
· 电子签证</p>
									<p><span>申请院校：</span>6所以内</p>									
								</div>
								<p class="in_price">￥29998</p>
								<a href="#">立即购买</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="include_box">
								<h3>香港新加坡申请</h3>
								<p>匹配同领域导师，与辅导员和 Native名校导师帮助学员做好申请工作</p>
								<div class="include_des">
									<p>· 早期规划<br>
· 申请指导<br>
· 多对一指导<br>
· 行前准备</p>
									<p><span>申请院校：</span>6所以内</p>									
								</div>
								<p class="in_price">￥15998</p>
								<a href="#">立即购买</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="mode w">
			<div class="title1">
				<h2>服务模式</h2>
			</div>
			<div class="mode_main">
				<div class="row">
					{foreach $list as $item}
					<div class="col-md-6 clearfloat">
						<div class="mode_box">
							<img src="{$item.image}" />
							<h3>{$item.title}</h3>
							<div class="mode_mask">
								{$item.content}
							</div>
						</div>
					</div>
					{/foreach}
				</div>
			</div>
		</div>
		
		
		
		
		
		<div class="match ap_match">
			<div class="w">
				<div class="match_box">
					<h3>TOP50全球导师资源进行匹配</h3>
					<p><a href="/index/teacher/index.html">详情请了解<img src="__UMENTER__/img/arrow.png"/></a></p>
				</div>
				<div class="match_box">
					<h3>全球名校案例</h3>
					<p><a href="/index/news/index.html">详情请了解<img src="__UMENTER__/img/arrow.png"/></a></p>
				</div>
			</div>
		</div>



{include file="template/footer" /}
		
		
		
		
		
		
		
		
		<script src="__UMENTER__/js/hammer.min.js"></script>
		<script src="__UMENTER__/js/common.js"></script>
		<script>
		    var swiper = new Swiper('.swiper-container', {
		      spaceBetween: 30,
		      centeredSlides: true,
		      autoplay: {
		        delay: 3500,
		        disableOnInteraction: false,
		      },
		      pagination: {
		        el: '.swiper-pagination',
		        clickable: true,
		      },
		      navigation: {
		        nextEl: '.swiper-button-next',
		        prevEl: '.swiper-button-prev',
		      },
		      loop:true,
		    });
		</script>
	</body>
</html>
