{include file="template/header" /}

<div class="news_banner">

	<div class="slider center">
		{foreach $list as $item}
		<div>
			<div class="news_banner_box">
				<a href="detail.html?id={$item.id}">
					<img src="{$item.newsimage}" />
					<div class="news_banner_des">
						<p>{$item.title}</p>
					</div>
				</a>
			</div>
		</div>
		{/foreach}
	</div>
	<div class="slider center1">
		{foreach $list as $item}
		<div>
			<div class="news_banner_box">
				<a href="detail.html?id={$item.id}">
					<img src="{$item.newsimage}" />
					<div class="news_banner_des">
						<p>{$item.title}</p>
					</div>
				</a>
			</div>
		</div>
		{/foreach}
	</div>
</div>

<div class="news w clearfloat">
	<div class="news_l">
		<div class="news_l_t">
			<a href="#">
				<img src="__UMENTER__/img/n_banner3.jpg" />
			</a>
		</div>
		<div class="news_l_b">
			<div class="news_l_list">
				<ul>
					{foreach $categorys as $category}
					<li><a href="/index/news/index?id={$category.cid}">{$category.name}</a></li>
					{/foreach}
				</ul>
			</div>
			<div class="news_l_main">
				<div class="row">
					{foreach name="list" item="item"}
					<div class="col-md-4 col-sm-4 col-xs-6">
						<div class="news_l_box">
							<a href="detail.html?id={$item.id}">
								<div class="news_l_img">
									<img src="{$item.newsimage}" />
								</div>
								<div class="news_l_des">
									<div class="news_l_scan">
										<span class="s_tag">{$item.keys}</span>
										<span style="float:right"><img style="float:left;margin:5px 5px 0 0" src="__UMENTER__/img/scan.png"/>{$item.look}</span>
										<div class="clearfloat"></div>
									</div>
									<h3>{$item.title}</h3>
									<p>{$item.content|htmlspecialchars_decode|strip_tags|mb_substr=0,50,'utf-8'}</p>
									<P>{$item.create_time|strip_tags|mb_substr=0,10,'utf-8'}</P>
								</div>
							</a>

						</div>
					</div>
					{/foreach}


				</div>

				{if (count($list)==6)}
				<a class="click" href="#">查看更多>></a>
				{/if}


			</div>
		</div>
	</div>
	<div class="news_r">
		<div class="news_r_t">
			<h3 class="title3">热门标签</h3>
			<div class="news_tag">
				<a href="#">行家指引</a>
				<a href="#">offers</a>
				<a href="#">留学文书服务</a>
				<a href="#">Application Guide</a>
				<a href="#">science</a>
				<a href="#">留学文书服务</a>
				<a href="#">行家指引</a>
				<a href="#">offers</a>
			</div>
		</div>
		<div class="guide_r_t news_r_c">
			<a href="#"><img src="__UMENTER__/img/guide.jpg"/></a>
		</div>
		<div class="news_ewm">
			<div class="row">
				<div class="col-md-6">
					<div class="news_ewm_box">
						<img src="__UMENTER__/img/ewm1.jpg" />
						<p>关注微信公众号</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="news_ewm_box">
						<img src="__UMENTER__/img/ewm2.jpg" />
						<p>微博搜索uMentor</p>
					</div>
				</div>
			</div>
		</div>
		<div class="news_r_t news_r_b">
			<h3 class="title3">热门服务</h3>
			<div class="news_tag">
				<a href="#">半DIY留学</a>
				<a href="#">PS写作业</a>
				<a href="#">一站式申请服务</a>
				<a href="#">单项文书写作</a>
				<a href="#">CV写作</a>
			</div>
		</div>
	</div>
</div>


{include file="template/footer" /}



<script src="__UMENTER__/js/hammer.min.js"></script>
<script src="__UMENTER__/js/common.js"></script>
<script src="__UMENTER__/js/slick.js"></script>
<script src="__UMENTER__/js/scripts.js"></script>
<script>
    $(".news_l_list ul li").click(function () {
        $(this).addClass('on');
        $(this).siblings().removeClass('on');
    })
</script>

</body>
</html>
