{include file="template/header" /}

		<div class="page_banner">
			<img class="img1" src="__UMENTER__/img/banner5.jpg" />
			<img class="img2" src="__UMENTER__/img/p-banner6.jpg" />
		</div>
		
		<div class="academic">
			<div class="w">
				<div class="aca_main">
					<div class="row">
						<div class="col-md-7 aca_l">
							<ul>
								<li>
									<div class="aca_tb">
										<img class="img1" src="__UMENTER__/img/atb1_1.png" />
										<img class="img2" src="__UMENTER__/img/atb1_2.png" />
									</div>
									<div class="aca_des">
										<p>证明申请人对意向专业的热爱与理解</p>
									</div>
								</li>
								<li>
									<div class="aca_tb">
										<img class="img1" src="__UMENTER__/img/atb2_1.png" />
										<img class="img2" src="__UMENTER__/img/atb2_2.png" />
									</div>
									<div class="aca_des">
										<p>体现申请人的学术水平与思维逻辑能力</p>
									</div>
								</li>
								<li>
									<div class="aca_tb">
										<img class="img1" src="__UMENTER__/img/atb3_1.png" />
										<img class="img2" src="__UMENTER__/img/atb3_2.png" />
									</div>
									<div class="aca_des">
										<p>展示英文水平写作能力</p>
									</div>
								</li>
								<li>
									<div class="aca_tb">
										<img class="img1" src="__UMENTER__/img/atb4_1.png" />
										<img class="img2" src="__UMENTER__/img/atb4_2.png" />
									</div>
									<div class="aca_des">
										<p>书写essay多年的uMentor导师充分了解了学术文章模式</p>
									</div>
								</li>
								<li>
									<div class="aca_tb">
										<img class="img1" src="__UMENTER__/img/atb5_1.png" />
										<img class="img2" src="__UMENTER__/img/atb5_2.png" />
									</div>
									<div class="aca_des">
										<p>扎实的英文水平，使文章闪闪发光</p>
									</div>
								</li>
								<li>
									<div class="aca_tb">
										<img class="img1" src="__UMENTER__/img/atb6_1.png" />
										<img class="img2" src="__UMENTER__/img/atb6_2.png" />
									</div>
									<div class="aca_des">
										<p>多年经验，可迅速知道文章的好坏，并能给出相应反馈</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-md-5 aca_r">
							<h3>学术文章</h3>
							<div class="aca_r_des">
								<p>学术 Essay 是招生官了解学生能力的重要部分，是留学申请中的重中之重</p>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="polish w">
			<div class="row">
				<div class="col-md-9 polish_r right">
					<img src="__UMENTER__/img/aca.png" />
				</div>
				<div class="col-md-3 polish_l left">					
					<div class="s_case_l">
						<h3>Essay 润色</h3>
						<div class="price">￥350元 <span>/1000单词</span></div>
						<div class="s_case_des">
							<p>●确保地道、学士的英文表达<br>
●正确的引用格式<br>
●专业匹配的留学经验导师<br>
●1稿 / 7天<br>
●<span>润色前后的文章</span></p>
							<a href="#">购买</a>
						</div>							
					</div>
				</div>
				
			</div>
		</div>
		
		
		
		<div class="match match1">
			<div class="w">
				<div class="match_box">
					<h3>TOP50全球导师资源进行匹配</h3>
					<p><a href="/index/teacher/index.html">详情请了解<img src="__UMENTER__/img/arrow.png"/></a></p>
				</div>
				<div class="match_box">
					<h3>全球名校案例</h3>
					<p><a href="/index/news/index.html">详情请了解<img src="__UMENTER__/img/arrow.png"/></a></p>
				</div>
			</div>
		</div>



{include file="template/footer" /}
		
		
		
		
		
		<script src="__UMENTER__/js/hammer.min.js"></script>
		<script src="__UMENTER__/js/common.js"></script>
		<script>
		    var swiper = new Swiper('.swiper-container', {
		      spaceBetween: 30,
		      centeredSlides: true,
		      autoplay: {
		        delay: 3500,
		        disableOnInteraction: false,
		      },
		      pagination: {
		        el: '.swiper-pagination',
		        clickable: true,
		      },
		      navigation: {
		        nextEl: '.swiper-button-next',
		        prevEl: '.swiper-button-prev',
		      },
		      loop:true,
		    });
		</script>
	</body>
</html>
