{include file="template/header" /}

		<div class="page_banner">
			<img class="img1" src="__UMENTER__/img/banner10.jpg" />
			<img class="img2" src="__UMENTER__/img/p-banner10.jpg" />
		</div>
		
		<div class="security w">
			<div class="secu_main">
				<img class="sec_img" src="__UMENTER__/img/service.png" />
				<div class="sec_box sec_box1">
					<div class="secu_tb right">
						<img src="__UMENTER__/img/ser_tb1.png" />
					</div>
					<div class="secu_des left">
						<h3>解决选择困难症，免费试改，建立互信</h3>
						<p>好的合作一定是有良好的信任基础，西柚留学为实现这一目的，推出免费试改的服务，让每个选择我 们的有志少年获得一次免费修改的机会，帮您选择正确的留学机构。文书顾问将选择文书 其中一段（200字以内）进行修改供您参考，您可以通过修改结果选择继续服务或者更换导师。</p>
					</div>
				</div>
				<div class="sec_box sec_box2">
					<div class="secu_tb left">
						<img src="__UMENTER__/img/ser_tb2.png" />
					</div>
					<div class="secu_des right">
						<h3>专业团队，专人审核</h3>
						<p>所有导师顾问，包括文书导师，申请导师以及咨询导师100%都由专人审核； 所有导师顾问在加入我们之前都经过笔试面试等严格考核，并签订签约服务合同，并缴纳押金， 接受西柚的淘汰机制，累计三次差评将立即解雇，并永久不进行合作。</p>
					</div>
				</div>
				<div class="sec_box sec_box3">
					<div class="secu_tb right">
						<img src="__UMENTER__/img/ser_tb3.png" />
					</div>
					<div class="secu_des left">
						<h3>更低的价格，更好的服务模式</h3>
						<p>选择一家留学机构，并不在于其规模大小，重要的是理念和服务模式。西柚留学从建立之初坚守平民化高端 留学服务模式，P2P（peer to peer）独立导师单独进行留学辅导，并且西柚在和名校导师的合作模式上选 择用客户的口碑和评价决定其绩效和收入，摆脱新兴互联网留学机构的兼职导师带来的不稳定的服务质量。</p>
					</div>
				</div>
				<div class="sec_box sec_box4">
					<div class="secu_tb left">
						<img src="__UMENTER__/img/ser_tb4.png" />
					</div>
					<div class="secu_des right">
						<h3>资金安全，真实可靠</h3>
						<p>这世界上没有免费的午餐，每次西柚的团队在看到各种“免费申请” “免费测评”“免费XX”的时候都感觉很无奈。因为用心的服务是团队每一个成员付出的心血和导师的努力。 我们导师团队的每一个成员都愿意为自己的劳动和服务负责，而不是通过一次次的虚假宣传来吸引客户。</p>
					</div>
				</div>
				<div class="sec_box sec_box5">
					<div class="secu_tb right">
						<img src="__UMENTER__/img/ser_tb5.png" />
					</div>
					<div class="secu_des left">
						<h3>改变传统模式，革新留学申请</h3>
						<p>为什么基本上不推荐找大型机构？原因不在于机构的规模，而在于目前的市场竞争不够激烈，还是卖方市场， 所以有品牌、有门店的大机构，垄断了大量客源，因而可以基本不注重服务质量。传统留学顾问打击学生自 信心，以确认对方可以上钩，并用错误信息干扰并改变你的申请意愿，在实操过程中套用PS文书模板制作文 书，怎么可能比小二转的互联网申请机构有更好的服务呢？西柚的模式是靠服务质量取胜，而不是靠销售模 式拉拢客户，这是两者的最大不同。</p>
					</div>
				</div>
			</div>
			<p class="p1">未来uMentor期待您的参与......</p>
		</div>



{include file="template/footer" /}
		
		
		
		
		
		
		
		
		
		
		
		
		
		<script src="__UMENTER__/js/hammer.min.js"></script>
		<script src="__UMENTER__/js/common.js"></script>
		<script>
		    var swiper = new Swiper('.swiper-container', {
		      spaceBetween: 30,
		      centeredSlides: true,
		      autoplay: {
		        delay: 3500,
		        disableOnInteraction: false,
		      },
		      pagination: {
		        el: '.swiper-pagination',
		        clickable: true,
		      },
		      navigation: {
		        nextEl: '.swiper-button-next',
		        prevEl: '.swiper-button-prev',
		      },
		      loop:true,
		    });
		</script>
	</body>
</html>
