{include file="template/header" /}

		<div class="page_banner">
			<img class="img1" src="__UMENTER__/img/banner4.jpg" />
			<img class="img2" src="__UMENTER__/img/p-banner5.jpg" />
		</div>
		
		<div class="suit w">
			<div class="title1">
				<h2>适合人群</h2>
			</div>
			<div class="suit_box">
				<div class="row">				
					<div class="col-sm-6 suit_r right">
						<img src="__UMENTER__/img/con1.png" />
					</div>
					<div class="col-sm-6 suit_l left">
						<p>－<br>
						获得更为全面专业的留学信息<br>
提高效率，少走弯路<br>
自己掌握留学规划和进程</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="data">
			<div class="w">
				<h2>掌握最新、最专业的学校和专业项目的数据库</h2>
				<p>全球各国实力导师可提供在线指导与解答因地制宜、<br>个性针对化选择自己贴合度高的导师</p>
			</div>
		</div>
		
		<div class="s_case">
			<div class="w">
				<div class="title1">
					<h2>服务方案</h2>
				</div>
				<div class="s_case_main">
					<div class="row">
						<div class="col-md-3 s_case_l">
							<h3>模拟面试</h3>
							<div class="price">￥693起</div>
							<div class="s_case_des">
								<p>●一对一匹配顶级名校外籍导师<br>
●提供面试前准备指导和面试TP<br>
●针对具体申请院校和项目的模拟演练，提升实战表现<br>
●现场点评面试表现。并给出书面反馈<br>
●顾问 48小时内接单<br>
●7天内安排面试（若有特殊情况可另做安排）<br>
●有效期：15天</p>
								<a href="#">购买</a>
							</div>							
						</div>
						<div class="col-md-9">
							<div class="s_case_box">
								<h3>模拟面试时长 60 分钟<span>（可根据实际情况微微调）</span></h3>
								<div class="s_process">
									<div class="row">
										<div class="col-sm-3">
											<div class="s_pro_img">
												<img src="__UMENTER__/img/ctb1.png" />
											</div>
											<div class="s_pro_des">
												<p class="s_num s_num1">1</p>
												<h4>面试介绍环节<br>5 分钟</h4>
												<p>面试导师自我介绍，并介绍整个模拟面试的流程和时间安排</p>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="s_pro_img">
												<img src="__UMENTER__/img/ctb2.png" />
											</div>
											<div class="s_pro_des">
												<p class="s_num s_num2">2</p>
												<h4>挂电话并回拨<br>/</h4>
												<p>模拟真实面试场景，面试官打入电话，正式开始面试</p>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="s_pro_img">
												<img src="__UMENTER__/img/ctb3.png" />
											</div>
											<div class="s_pro_des">
												<p class="s_num s_num3">3</p>
												<h4>模拟面试环节<br>40 分钟</h4>
												<p>面试导师针对目标项进行模拟面试</p>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="s_pro_img">
												<img src="__UMENTER__/img/ctb4.png" />
											</div>
											<div class="s_pro_des">
												<p class="s_num s_num4">4</p>
												<h4>评论讨论环节<br>15 分钟</h4>
												<p>面试导师对客户模拟面试表现给出评价，并进行问题讨论</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="match">
			<div class="w">
				<div class="match_box">
					<h3>TOP50全球导师资源进行匹配</h3>
					<p><a href="/index/teacher/index.html">详情请了解<img src="__UMENTER__/img/arrow.png"/></a></p>
				</div>
				<div class="match_box">
					<h3>全球名校案例</h3>
					<p><a href="/index/news/index.html">详情请了解<img src="__UMENTER__/img/arrow.png"/></a></p>
				</div>
			</div>
		</div>



{include file="template/footer" /}
		
		
		
		
		
		
		
		
		<script src="__UMENTER__/js/hammer.min.js"></script>
		<script src="__UMENTER__/js/common.js"></script>
		<script>
		    var swiper = new Swiper('.swiper-container', {
		      spaceBetween: 30,
		      centeredSlides: true,
		      autoplay: {
		        delay: 3500,
		        disableOnInteraction: false,
		      },
		      pagination: {
		        el: '.swiper-pagination',
		        clickable: true,
		      },
		      navigation: {
		        nextEl: '.swiper-button-next',
		        prevEl: '.swiper-button-prev',
		      },
		      loop:true,
		    });
		</script>
	</body>
</html>
