<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            {include file="template/form_header" /}
            <form id="dataForm" class="form-horizontal dataForm" action="" method="post" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="fields-group">
                    	 {if isset($info)}
                        <input id="id" name="id" value="{$info.id}"  hidden placeholder="请勿修改">
                        {/if}
                      <div class="form-group">
                        <label for="image" class="col-sm-2 control-label">头像</label>
                        <div class="col-sm-10 col-md-4">
                            <div class="input-group file-caption-main">
                                <div tabindex="500" class="form-control file-caption  kv-fileinput-caption">
                                    <div class="file-caption-name" id="input-filename-headimg">
                                    </div>
                                </div>
                                <div class="input-group-btn">
                                    <div tabindex="500" class="btn btn-primary btn-file">
                                        <i class="glyphicon glyphicon-folder-open"></i>
                                        <span class="hidden-xs">浏览</span>
                                        <input type="file" class="form-input-image"
                                      data-preview="image-preview-headimg"
                                      data-showname="input-filename-headimg" name="image" id="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label"></label>
                      <div class="col-sm-10 col-md-4">
                          <div class="input-group file-caption-main">
                              <img id="image-preview-headimg" src="{$info.image|default=''}" style="max-width: 150px;max-height: 150px">
                          </div>
                      </div>
                  </div>

                         <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                    <input maxlength="20" id="name" name="name" value="{$info.name|default=''}"
                                           class="form-control" placeholder="请输入姓名">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="year" class="col-sm-2 control-label">年份</label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                    <input maxlength="20" id="year" name="year" value="{$info.year|default=''}"
                                           class="form-control" placeholder="请输入年份">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                          <label for="item" class="col-sm-2 control-label">录取情况</label>
                          <div class="col-sm-10 col-md-4">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                  <input maxlength="20" id="item" name="item" value="{$info.item|default=''}"
                                         class="form-control" placeholder="请输入录取情况">
                              </div>
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="comment" class="col-sm-2 control-label">评价</label>
                        <div class="fields-group">
                            <div class="form-group">
                                <div class="col-sm-7">
                                    <script id="comment" name="comment"  type="text/plain" >{$info.comment|default=''}</script>
                                </div>
                            </div>
                        </div>
                    </div>

		            </div>
                </div>
                {include file="template/form_footer" /}
            </form>
        </div>
    </div>
</div>


<script type="text/javascript" charset="utf-8" src="__STATIC__/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/plugins/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
    $(function () {

        editorcomment = new baidu.editor.ui.Editor();
        editorcomment.render('comment');
        try {
          editorspecialservice.sync();
        } catch (err) {
        }
    });

</script>
