{include file="template/header" /}

		<div class="page_banner">
			<img class="img1" src="__UMENTER__/img/banner3.jpg" />
			<img class="img2" src="__UMENTER__/img/p-banner4.jpg" />
		</div>
		
		
		<div class="promote">
			<div class="w">
				<div class="title">
					<h2>背景提升</h2>
					<p>质量永远比数量重要，向正确的方向努力事半功倍未雨绸缪 尽早准备</p>
				</div>
				<div class="promote_main">
					<div class="row">
						<div class="col-md-4">
							<div class="promote_box">
								<div class="promote_t">
									<h3>理工类</h3>
									<p>化学、生物、材料、计算机、电气、材料、数学、机械等</p>
								</div>
								<div class="promote_b">
									<ul>
										<li>科研能力、高含金量的学术项目</li>
										<li>特长参赛经历 （可个人、可团赛性质）</li>
										<li>实习经验（2 月份暑期实习，9 月份暑期实习）</li>
										<li>海外背景（海外交换、游学、美国大学网络课程）</li>
										<li>推荐信 业界知名教授客观评价</li>
										<li>社团活动（社团、学生会公益活动）</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="promote_box">
								<div class="promote_t">
									<h3>商科类</h3>
									<p>营销、管理、经济、会计等</p>
								</div>
								<div class="promote_b">
									<ul>
										<li>实习经验，知名企业及品牌（2 月份准备暑期实习，9 月准备暑期实习）</li>
										<li>海外背景（海外交换、游学、美国大学网络课程）</li>
										<li>科研水平，体现 research、分析能力。</li>
										<li>社团活动 （社团、学生会公益活动）</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="promote_box">
								<div class="promote_t">
									<h3>文科艺术类</h3>
									<p>文学、语言、历史、文化、音乐、绘画等</p>
								</div>
								<div class="promote_b">
									<ul>
										<li>科研能力 研究方向、研究兴趣意向</li>
										<li>知名艺术家、设计师合作实习经验</li>
										<li>海外背景（海外交换、游学、美国大学网络课程）</li>
										<li>特长竞赛经历 作品集获奖情况</li>
										<li>社团活动（社团、学生会公益活动）</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		
		
		<div class="excellent w">
			<div class="title1">
				<h2>高分的学霸千篇一律，个性的学生万里挑一</h2>
			</div>
			<div class="exce_main">
				<img src="__UMENTER__/img/single.png" />
				<div class="exce_box exce_box1">
					<p>弥补劣势<br>发挥优势</p>
				</div>
				<div class="exce_box exce_box2">
					<p>明确活动<span>目的意义</span></p>
				</div>
				<div class="exce_box exce_box3">
					<p>优化文书<br>加重分量</p>
				</div>
				<div class="exce_box exce_box4">
					<p>注重质量<br>而非数量</p>
				</div>
				<div class="exce_box exce_box5">
					<p>提高生活能力<br>适应留学生活</p>
				</div>
				<div class="exce_box exce_box6">
					<p>培养能力<br>预先规划</p>
				</div>
			</div>
		</div>
		
		<div class="help">
			<p>uMentor 助您多维度、因地制宜地提升自己背景，深度挖掘你的潜力，使优秀成为一种习惯。点击 <a href="#">在线咨询</a>你将获得专业的服务</p>
		</div>
		<div class="match">
			<div class="w">
				<div class="match_box">
					<h3>TOP50全球导师资源进行匹配</h3>
					<p><a href="/index/teacher/index.html">详情请了解<img src="__UMENTER__/img/arrow.png"/></a></p>
				</div>
				<div class="match_box">
					<h3>全球名校案例</h3>
					<p><a href="/index/news/index.html">详情请了解<img src="__UMENTER__/img/arrow.png"/></a></p>
				</div>
			</div>
		</div>



{include file="template/footer" /}
		
		
		
		
		
		
		<script src="__UMENTER__/js/hammer.min.js"></script>
		<script src="__UMENTER__/js/common.js"></script>
		<script>
		    var swiper = new Swiper('.swiper-container', {
		      spaceBetween: 30,
		      centeredSlides: true,
		      autoplay: {
		        delay: 3500,
		        disableOnInteraction: false,
		      },
		      pagination: {
		        el: '.swiper-pagination',
		        clickable: true,
		      },
		      navigation: {
		        nextEl: '.swiper-button-next',
		        prevEl: '.swiper-button-prev',
		      },
		      loop:true,
		    });
		</script>
	</body>
</html>
